<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - MyImdb</title>
	<script src="https://kit.fontawesome.com/7db5d2953c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

	<style>
		body { background: #f3f3f3; }
	</style>
</head>
<body>

<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
		<div class="container-fluid justify-content-start" style="max-width: 95rem">
			<a class="navbar-brand mt-2 mb-2"
			   asp-area=""
			   asp-controller="Home"
			   asp-action="Index">
				<img alt="Logo" src="~/img/logo.png" width="120"/>
			</a>

			<div class="content d-block">
				<div class="input-group d-flex">
					<div class="form-outline">
						<input type="search"
						       id="query"
						       class="form-control"
						       placeholder="Search..."
						       style="border-bottom-right-radius: 0; border-top-right-radius: 0; width: 20rem;"/>
						<label class="form-label d-none" for="query">Search</label>
					</div>

					<button type="button" class="btn btn-primary">
						<i class="fas fa-search"></i>
					</button>
				</div>

				<button class="navbar-toggler"
				        type="button"
				        data-bs-toggle="collapse"
				        data-bs-target=".navbar-collapse"
				        aria-controls="navbarSupportedContent"
				        aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light"
							   asp-area=""
							   asp-controller="Movie"
							   asp-action="Index">
								Movies
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light"
							   asp-area=""
							   asp-controller="Home"
							   asp-action="Index">
								Genres
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light"
							   asp-area=""
							   asp-controller="Home"
							   asp-action="Index">
								Actors
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>

<div class="container" id="myimdb-container">
	<main role="main" class="bg-white">
		@RenderBody()
	</main>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2022 - MyImdb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer>

<partial name="_ValidationScriptsPartial"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
