@model List<MyImdb.ViewModels.MovieListViewModel>

@{
	ViewBag.Title = "List";
	Layout = "_Layout";
}

<div>
	@if (ViewBag.Message != null)
	{
		<div class="alert alert-info">
			<p>@ViewBag.Message</p>
		</div>
	}

	<b> Movies List:</b>
	<br/>
	<table>
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Year</th>
		</tr>
		@foreach (var movie in Model)
		{
			<tr>
				<td>@movie.Rank</td>
				<td>@movie.Title</td>
				<td>@movie.Year</td>
			</tr>
		}
	</table>
</div>
