@model MovieShowViewModel

@{
	ViewBag.Title = "Movie";
	Layout = "_Layout";
}

<h2>@Model.Title</h2>

<div class="d-flex">
	<div class="banner" style="width:400px; height:400px;"></div>
	<div class="info">
		<h3>@Model.Title</h3>
		<h5>
			<b>Rank: </b> @Model.Rank
		</h5>
		<h5>
			<b>Director: </b> John Doe
		</h5>
		
		<p>
			@Model.StoryLine
		</p>
	</div>
</div>
