@{
	ViewData["Title"] = "Home Page";
}

<style>
	.index-main {
		display: grid;
		grid-template-areas: 
			'content content content sidebar'
			'footer  footer  footer  sidebar';
  		gap: 0.75rem;
  		grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    	grid-template-rows: max-content 1fr;
    	
    	height: 100%;
	}
	
	.index-main main {
		grid-area: content;
	}
	
	.index-main nav {
		grid-area: sidebar;
		background: #eee;
	}
	
	.index-main nav div {
		padding: 1rem 0;
		border-bottom: 1px solid #ccc;
	}
	
	.index-main nav a {
    	text-decoration: none;
    	display: block;
    	padding: 0.5rem 0;
	}
	
	.index-main footer {
		grid-area: footer;
		flex: 1;
	}

	.months-movie > *:not(:last-child) {
		margin-right: 30px; 
	} 	

	.movie {
		width: 20rem;
		height: 22rem;
		background: #ccc;
	}
	
	.movie i {
		font-size: 3rem;
	}
	
	.movie > .title {
		background: #333;
	}
</style>

<div class="w-100 h-100 index-main">
	<main class="p-3" style="margin-right: auto">
		<h4>Movies of the month</h4>

		<ul class="months-movie d-flex flex-wrap list-unstyled">
			<li class="movie d-flex flex-column">
				<div class="d-flex flex-grow-1">
					<i class="fas fa-video m-auto"></i>
				</div>

				<div class="title d-flex p-2">
					<h7 class="text-center text-light m-auto">
						Batman: Dark Knight Rises
					</h7>
				</div>
			</li>

			<li class="movie d-flex flex-column">
				<div class="d-flex flex-grow-1">
					<i class="fas fa-video m-auto"></i>
				</div>

				<div class="title d-flex p-2">
					<h7 class="text-center text-light m-auto">
						Source Code
					</h7>
				</div>
			</li>

			<li class="movie d-flex flex-column">
				<div class="d-flex flex-grow-1">
					<i class="fas fa-video m-auto"></i>
				</div>

				<div class="title d-flex p-2">
					<h7 class="text-light m-auto">
						Nocturnal Animals
					</h7>
				</div>
			</li>
		</ul>
	</main>

	<nav class="p-3">
		<div>
			<h4>Opening this week</h4>
			
			<ul>
				<li><a href="#">Beauty and the Beast</a></li>
				<li><a href="#">T2 Trainspotting</a></li>
				<li><a href="#">Song to song</a></li>
				<li><a href="#">The Beiko Experiment</a></li>
				<li><a href="#">Frants</a></li>
			</ul>
			
			<a href="#">See more opening this week</a>
		</div>
		
		<div>
			<h4>Coming soon</h4>
			
			<ul>
				<li><a href="#">Power Ranges</a></li>
				<li><a href="#">Life</a></li>
				<li><a href="#">CHPS</a></li>
				<li><a href="#">Wilson</a></li>
				<li><a href="#">Prevenge</a></li>
			</ul>
			
			<a href="#">See coming soon</a>
		</div>
	</nav>
	
	<footer class="p-3">
		<a asp-controller="Movie" asp-action="Index">
			See the complete list
		</a>
	</footer>
</div>
