html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	height: 100%;
	position: relative;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-bottom: 60px;
}

#myimdb-container {
	flex: 1;
	max-width: 95rem;
}

#myimdb-container > main {
	height: 100%;
	width: 100%;
}

@media (max-width: 95rem) {
	#myimdb-container {
		width: 100%;
	}
}
